<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fashion.celebrity.auth.mapper.AuthMapper">

    <select id="selectDupMail" parameterType="com.fashion.celebrity.auth.dto.request.ReqDupMailDto" resultType="com.fashion.celebrity.auth.model.DupUserInfo">
        SELECT user_id
        FROM tb_user
        WHERE user_id = #{username}
    </select>

    <update id="createMail" parameterType="String">
        INSERT INTO tb_user
        (user_id, status, cnl_cd, temp_dtm)
        VALUES
        (#{username}, '3', '01', now())
    </update>

    <update id="updateCertCode" parameterType="com.fashion.celebrity.auth.dto.request.ReqCertMailDto">
        UPDATE tb_user
        SET cert_num = #{certCode}
        WHERE user_id = #{username}
    </update>

    <select id="selectCertCode" parameterType="String" resultType="String">
        SELECT cert_num
        FROM tb_user
        WHERE user_id = #{username}
    </select>

    <select id="selectNickname" parameterType="String" resultType="com.fashion.celebrity.auth.model.DupUserInfo">
        SELECT user_id
        FROM tb_user
        WHERE nickname = #{nickname}
    </select>

    <update id="createUser" parameterType="com.fashion.celebrity.auth.dto.request.ReqJoinDto">
        INSERT INTO tb_user
        (user_id, status, passwd, nickname, mobile, sex, birth_dt, cnl_cd, mkt_yn, pw_mod_dtm, reg_dtm)
        VALUES
        (#{username}, '0', #{password}, #{nickname}, #{phone}, #{gender}, #{birthday}, #{pathCode}, #{mktYn}, now(), now())
    </update>

    <select id="selectUser" parameterType="String" resultType="com.fashion.celebrity.auth.model.UserInfo">
        SELECT user_id, status
        FROM tb_user
        WHERE user_id = #{username}
    </select>

    <update id="updateUserLogin" parameterType="String">
        UPDATE tb_user
        SET login_cnt = 0
        , login_cnl = '01'
        , login_dtm = now()
        WHERE user_id = #{username}
    </update>

    <update id="updateTrial" parameterType="com.fashion.celebrity.auth.dto.request.ReqLoginDto">
        UPDATE tb_user
        SET login_cnt = login_cnt + 1
        WHERE user_id = #{username}
        <selectKey keyProperty="count" resultType="Integer" order="AFTER">
            SELECT login_cnt as count
            FROM tb_user
            WHERE user_id = #{username}
        </selectKey>
    </update>

    <update id="updateUserStatus" parameterType="com.fashion.celebrity.auth.dto.request.ReqLoginDto">
        UPDATE tb_user
        SET status = #{status}
        WHERE user_id = #{username}
    </update>

    <update id="updateUserLogout" parameterType="String">
        UPDATE tb_user
        SET logout_dtm = now()
        WHERE user_id = #{username}
    </update>

    <select id="findId" parameterType="String" resultType="com.fashion.celebrity.auth.model.FindIdInfo">
        SELECT user_id, cnl_cd
        FROM tb_user
        WHERE mobile = #{phone}
    </select>

    <select id="findPw" parameterType="com.fashion.celebrity.auth.dto.request.ReqFindPwDto" resultType="com.fashion.celebrity.auth.model.FindPwInfo">
        SELECT user_id, cnl_cd
        FROM tb_user
        WHERE user_id = #{username}
        AND mobile = #{phone}
    </select>

    <update id="modPw" parameterType="com.fashion.celebrity.auth.dto.request.ReqModPwDto">
        UPDATE tb_user
        SET passwd = #{password}
        , pw_mod_dtm = now()
        , mod_dtm = now()
        WHERE user_id = #{username}
    </update>

</mapper>